apt update
apt install python3-pip
wget https://developer.download.nvidia.com/compute/cuda/repos/wsl-ubuntu/x86_64/cuda-keyring_1.1-1_all.deb
sudo dpkg -i cuda-keyring_1.1-1_all.deb
sudo apt-get update
sudo apt-get -y install cuda-toolkit-12-4
pip3 install torch torchvision torchaudio --index-url https://download.pytorch.org/whl/cu124
apt install -y espeak-ng
pip install -U uv
uv pip install -e .
uv pip install -e .[compile]
